/* Add application styles & imports to this file! */
* {
  font-family: "Roboto";
 
}

#container {
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto;
  grid-template-areas: 
  "n n n n n n "
  "s m m m m m "
  ;
}

#navbar{
  grid-area: n;
  display:flex;
  justify-content: space-between;
  background-color: #000000;
  width: auto;
  height: 50px;
  
}

.compte, .notifications{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color:  #2c2c2c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 40px;
}


.compte img{
  height: 20px;
  margin-right: 10px;
}

#main{
  grid-area: m;
  display: grid;
  background-color: #000000;
}


.searchBar{
  width: 200px;
  height: 20px;
  margin-top: 10px;
}

#sidebar{
  grid-area: s;
  display: flex;
  background-color: #0f0f0f;
  width: 250px;
  padding-top: 10px;
  
}

.section1{
border-bottom: 1px solid rgba(255,255,255,0.2);
}

.section2{
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.abonnements{
  
  border-bottom: 1px solid rgba(255,255,255,0.2);
padding-top: 20px;
}

.parametres{
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

#sidebar li {
  display: grid;
  width: 200px;
  padding-left: 10%;
  line-height: 40px;
  text-align: left;
}

.copyright{
  border-bottom: 1px solid rgba(255,255,255,0.2);
  font-size: 0.7em;
  line-height: 6px;
}



#sidebar ul {
  list-style-type: none;
  padding-left: 0%;
}





#sidebar a, h2 {
  text-decoration: none;
  color:black;
  padding-left: 10%;
  color: white;
  font-weight: 500;
  font-size: 0.9em;

}

#sidebar h2{
  font-size: 1.3em;
  padding-left: 20%;
}

#sidebar i {
  text-decoration: none;
  padding-right: 10%;
  color: white;
  font-weight:500;
  font-size: 0.9em;
  margin-right: 20px;
}


.active{
  background-color: #3f3f3f;
    border-radius: 15px;
}

#sidebar a:hover{
    background-color: #3f3f3f;
    border-radius: 15px;
}



img.thumb
{

width: 60%;
height: 60%;

border-radius: 6px;
}

section.videos, section.videos2
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 5px solid rgba(255,255,255,0.2);
gap: 1px;

}

div.video {

  flex:10%;
  
}
div.video  a {

  text-decoration: none;
  color: black;


}

div.video h2 {
  font-weight: bold;
}

.channel{
  color: darkgray;
}

.meta {
  color: darkgray;
}


.image-gallery{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;

}

.image-gallery > li {
flex-basis: 300px; /*width: 350px;*/
position: relative;
cursor: pointer;

}

.image-gallery::after {
content: "";
flex-basis: 350px;
}

.image-gallery li img {
object-fit: cover;
max-width: 100%;
height: auto;
vertical-align: middle;
border-radius: 8px;
}
