* {
margin: 0;
padding: 0;    
}

body {
    font-family: "Roboto";
  }

li
{
list-style-type: none;
}

.tags 
{
display: flex;
flex-direction:row;
padding-top: 20px;
padding-left: 20px;
}


li.tag , li.first-tag
{
margin-right: 1rem;
margin-bottom: 2rem;
}

li.tag  a {

    text-decoration: none;

    background-color: rgb(43, 43, 43);
    color : white;

    padding: 1rem;

    border-radius: 8px;

}


li.first-tag a
{
  text-decoration: none;

  background-color: white;
  color:black;

  padding: 1rem;

  border-radius: 8px;

  

}

li.tag  a:hover {

    background-color: rgb(117, 117, 117);
    color : white;


  }

  
