/* ======================================
Responsive Image gallery Style rules
======================================*/
  
  ul {
    list-style: none;
  }
  
  /* Responsive image gallery rules begin*/
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
  }
  
  .image-gallery > li {
    flex-basis: 350px; /*width: 350px;*/
    position: relative;
    cursor: pointer;
  }
  
  .image-gallery::after {
    content: "";
    flex-basis: 350px;
  }
  
  .image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
  }
  

  .image-gallery li h2 
  {
    padding-left:0;
    color : white;
    font-size: 1em;
  }

  .image-gallery > li a{
   text-decoration: none;
  }

  .image-gallery li .channel{

    color: darkgray;
}

.image-gallery li .meta {

    color: darkgray;

}
